{% extends 'base.html' %}
{% block title %}Record Delete{% endblock %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-7 card text-bg-dark card-padding card-padding-bottom">
                <div class="row">
                    <h3>Вы точно хотите удалить данную запись?</h3>
                </div>
                <div class="row">
                    <h5>Автор записи</h5>
                    <p>{{ record.author }}</p>
                </div>
                <div class="row">
                    <h5>Почта автора</h5>
                    <p>{{ record.email }}</p>
                </div>
                <div class="row">
                    <h5>Текст</h5>
                    <p>{{ record.text }}</p>
                </div>
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-primary edit-buttons" href="{% url 'index' %}"
                           role="button">Отмена</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-danger" href="{% url 'confirm_delete' record.pk %}" role="button">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}